.logo-shuriken{
    width: 40px;
    height: 40px;

}
.content{
    padding: 15px;
}
body{
    animation-name: exa;
    animation-duration: 7s;
}

@keyframes exa {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }